<div class="control-group {{#if error}}error{{/if}}"> 
    <label class="control-label">{{label}}</label>
    <div class="controls">
        <input type="button" name="{{name}}" value="{{value}}" class="{{class}}" />
    
        {{#if error}}
        <span class="help-inline">{{error}}</span>
        {{/if}}
    </div>
</div>