<div class="form-group {{#if error}}error{{/if}}" ng-class="{error: {{formname}}.{{name}}.$invalid}">
  <label class="control-label">{{label}} <span ng-show="{{formname}}.{{name}}.$error.required" class="text-danger help-inline">*</span></label>
  <input type="number" name="{{name}}" value="{{value}}" class="form-control {{class}}" {{#if ngmodel}}ng-model="{{ngmodel}}.{{name}}"{{/if}} required>
    
        {{#if error}}
        <span class="help-inline">{{error}}</span>
        {{else}}
            {{#if helpInline}}
                <span class="help-inline">{{{helpInline}}}</span>
            {{/if}}         
        {{/if}}
</div>