<div class="form-group {{#if error}}error{{/if}}"> 
    <label class="control-label">{{label}}</label>
    <div class="controls">
        <input type="password" name="{{name}}" value="{{value}}" class="form-control {{class}}" />
    
        {{#if error}}
        <span class="help-inline">{{error}}</span>
        {{/if}}
    </div>
</div>