extends layout

block content
  .row.our-main-content.neck(style="margin:0 -15px; height: 100%; padding: 50px 0 150px 0;")
    .col-sm-6.col-sm-offset-3(style="margin-top:15px")
      - var errors = "", classAnimation = "flipInY";
      - if(flash && typeof flash.error !== 'undefined' && flash.error.length > 0) {
      - errors = (typeof flash.error !== 'undefined') ? flash.error[0] : "" ;
      - classAnimation = (typeof flash.error !== 'undefined') ? "shake" : "flipInY" ;
      - }
      //Card
      .card.card-container.animated(class=classAnimation,style="background-color: #000;color: #ccc;")
        img#profile-img.profile-img-card(src='./img/anyandgo-logo-circle-2.png')
        p#profile-name.profile-name-card
          i.fa.fa-lock(style="padding-right: 10px")
          | Admin Panel
          - if(errors !== "") {
            .alert.alert-danger.animated.tada(role="alert")
              span #{__(errors)}
          - }
          form#loginForm(name="loginForm",method="post",action="")
            p !{form}
            p
            | !{csrf_form_html}
            p(style="text-align:center")
              button.btn.btn-default(type="submit",style="width:200px")
                i.fa.fa-sign-in(style="padding-right:10px")
                | #{__("Login")}
            p
              .well.well-sm(style="background-color: #0B0B0B;") Hint: admin@anyandgo.com / 123456
            .form-group.grp-foot.hide
              .col-md-6(style="padding:0 10px 0 10px;")
                label.checkbox-inline(for="rec")
                  input#rec(type="checkbox",name="rec")
                  | Remember me
              .col-md-6.text-right
                p(style="margin:0")
                  a.btn.btn-forgot(href="/recovery") Forgot Password

block footer 
