h1#main Anyandgo MEAN Framework
ul.list-inline
  li
    a(href="https://travis-ci.org/cortezcristian/anyandgo")
        img(src="https://travis-ci.org/cortezcristian/anyandgo.svg?branch=master")
  li
    a(href="https://gitter.im/cortezcristian/anyandgo?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge")
      img(src="https://badges.gitter.im/Join%20Chat.svg")
//h2#pick-anyandgo Pick·anyandgo!
p The MEAN Framework that doesn't suck.

.bs-callout.bs-callout-primary
  h4 What is the MEAN stack?

  p The acronym stands for:
  ul
    li (M)ongoDB – a noSQL document datastore which uses JSON-style documents to represent data,
    li (E)xpress – a HTTP server framework on top of Node,
    li (A)ngular – as you know, the JS framework offering declarative, two-way databinding for webapps and
    li (N)ode – the platform built on V8’s runtime for easily building fast, scalable network applications.
  p
    a(href="http://addyosmani.com/blog/full-stack-javascript-with-mean-and-yeoman/", alt="Full-Stack JavaScript With MEAN And Yeoman") Read More

h2#quick-setup Quick Setup

p How to get started with anyandgo?

p Install 
  a(href="https://www.npmjs.com/package/anyandgo-cli") anyandgo client
pre
  code.language-bash $ [sudo] npm install -g anyandgo-cli 

p Create a new project 
pre
  code.language-bash 
  | $ anyandgo init mynewproject
  |    mynewproject /var/www
  |    https://nodeload.github.com/cortezcristian/anyandgo/zip/master
  |    You have successfully created the anyandgo project
  |    Try:
  |         cd mynewproject
  |         npm install && bower install && grunt

p To get the most out of anyandgo you may also want to install the following
pre
  code.language-bash $ npm install -g grunt-cli bower yo mocha


h2#best-parctices Best Practices

p To start working you can simply run:

pre
  code.language-bash $ grunt

p This will:
.bs-callout.bs-callout-primary
  ul.list-unstyled
    li ✓ Lint the js code
    li ✓ Run the tests
    li ✓ Start the server
    li ✓ Open a web browser
    li ✓ Watch for files changes, to trigger several tasks

p To add front-end libraries you can simply run:

pre
  code.language-bash $ bower install --save jquery

p This will:
.bs-callout.bs-callout-primary
  ul.list-unstyled
    li ✓ Register the dependency into bower.json
    li ✓ Download the library inside ./public/components/
    li ✓ Append the script into ./views/layout.jade
    li ✓ Trigger page reload


h2#grunt-task Grunt tasks
p The default grunt task will start the server for you.
pre
  code.language-bash $ grunt

p Lint javascript files under models, routes and test folders
pre
  code.language-bash $ grunt jshint

p Execute all mocha tests and display the specs report
pre
  code.language-bash $ grunt mochaTests

p Creates documentation functionallity under models, routes and test folders and put it inside docs folder
pre
  code.language-bash $ grunt docco

p Appends javascript and css dependencies
pre
  code.language-bash $ grunt wiredep

h2#scaffolding  Scaffolding

h3#model-test-creation Model+Test generation

pre
  code.language-bash $ grunt create:model:Sample
p Will create model and tests:

.bs-callout.bs-callout-info
  p models/sample.js
  p test/unit/models/sample-tests.js

p 
| Will modify  
b.text-info ./routes/main.js
|  to append the model as dependency

pre
  code.language-javascript
    | // ## Models
    | /* models:start */
    | + Sample  = require('../models/sample.js'),
    | /* models:end */

p This will automatically crete the following tests:

pre
  code.language-bash
    | $ mocha test/unit/
    | Database Test
    |   MongoDB
    |    ✓ Should be up and running 
    | ...
    | Model Test Sample
    |   Sample
    |    ✓ add a sample 
  
h3#page-route Page+Route generation

pre
  code.language-bash $ grunt create:page:Contact
p Will create a public view file for the page:

.bs-callout.bs-callout-info views/contact.jade

p Will modify ./routes/main.js to append the model as dependency
pre
  code.language-javascript
    | /* page:public:start */
    | +  
    | +  // ### Contact Page
    | +  app.get('/contact', function (req, res) {
    | +    res.render('contact', { title: 'Contact', section: 'Contact' });
    | +  });
    | /* page:public:end */
  
p Will modify ./views/partials/site-menu.jade to append the new menu item to main menu
pre
  code.language-javascript
    | // public:page:menu:start
    | +        li
    | +          a(href='/contact') Contact
    |        // public:page:menu:end
  
h3#rest-test Rest+Test generation

pre
  code.language-bash $ grunt create:rest:Sample
p Creates rest services for a particular model.

p Will modify ./routes/main.js to append the model as dependency
pre
  code.language-javascript
    | /* rest:public:start */
    | +
    | +// GET /api/v1/samples
    | +restify.serve(app, Sample, {
    | +  lowercase: true,
    | +  lean: false,
    | +  |rereq: function(req) {
    | +    console.log("pre req");
    | +    return true;
    | +  },
    | +  contextFilter: function(model, req, cb) {
    | +    console.log("context filter");
    | +    cb(model);
    | +  },
    | +  |ostProcess: function(req, res){
    | +    console.log("post process");
    | +  }
    | +});
    | /* rest:public:end */

p Along with a test file:

.bs-callout.bs-callout-info test/rest/models/samples-rest-tests.js
p This uses 
  a(href='http://visionmedia.github.io/superagent/') superagent 
  | to test the new restful api:
  

pre
  code.language-bash
  | $ mocha test/rest/
  | Web Server
  | Express
  | ✓ Should be up and running (306ms)
  | ...
  | REST API Sample http://127.0.0.1:3000/api/v1/samples
  | Samples REST
  | ✓ GET /api/v1/samples 
  | ✓ GET /api/v1/samples/count 
  | ✓ POST /api/v1/samples 
  | ✓ PUT /api/v1/samples/:sampleId 
  | ✓ DELETE /api/v1/samples/:sampleId 
  | ✓ DELETE /api/v1/samples 

.bs-callout.bs-callout-primary
  h4 This will enable the following urls:
  pre
    code.language-http
      | GET      /api/v1/samples/count
      | GET      /api/v1/samples
      | PUT      /api/v1/samples
      | POST     /api/v1/samples
      | DELETE   /api/v1/samples
      | GET      /api/v1/samples/:id
      | PUT      /api/v1/samples/:id
      | POST     /api/v1/samples/:id
      | DELETE   /api/v1/samples/:id

p Learn more about query, ordering, populate, and sorting with 
  a(href='https://github.com/florianholzapfel/express-restify-mongoose') Express-Restify-Mongoose.

h3#crud-test Crud+Test generation

pre
  code.language-bash $ grunt create:crud:Sample
p Creates CRUD administration for a particular model. This uses zombiejs to test the new crud functionality.

p Once you create the model and all the rest services you'll be able to generate a crud automatically. Let's imagine you need to create a CRUD for students.

pre
  code.language-bash
  | $ grunt create:model:Student
  | $ grunt create:rest:Student
  | $ grunt create:crud:Student

p If you go to to 
  a(href='http://localhost:3000/admin/panel') http://localhost:3000/admin/panel 
  | login as administrator, and click on the Crud dropdown:

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/crud-generation.png')

p If you select Student, you'll be able to see the list where you can create, edit and delete:

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/crud-list.png')

p Just hit edit on one record

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/crud-edit.png')

p Now let's change our model
 mark models/student.js 
 | to add a new field called 
 mark age:

pre
  code.language-javascript
    | // Student Model
    | // -----------------------------
    | 
    | // Modules Dependencies:
    | //  - Mongoose (http://mongoosejs.com/docs/guide.html)
    | //  
    | var mongoose = require('mongoose'), 
    |     Schema = mongoose.Schema;
    | 
    | var studentSchema = new Schema({
    |     name          : String, 
    |     age          : Number,  /* <-- add this line to the model */
    |     created       : Date         
    | });
    | 
    | // [...] More code here
  
p After you save the file go to the administration panel again  
  a(href='http://localhost:3000/admin/panel') http://localhost:3000/admin/panel 
  | you'll need to login again (if you have not enabled autologin yet). If you go to edit or create you'll see the form changed a little bit:

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/crud-form-auto-generation.png')

p As you can see the form has been autogenerated, to be according to your little change in the model.

h3#auto-login AutoLogin for developers

p Is very annoying when you are developing that you need to login every time the server reloads, so we included a feature for autologin just go and modify 
  mark config/config-local.json 
  | search for this property:

pre
  code.language-javascript
    | "autologin": {
    |     "enabled" : true, <-- Set this to true, by default is false
    |     "username" : "admin@anyandgo.com",  
    |     "password" : "123456"  
    | },
  
p Setting autologin.enabled to 
  mark true 
  | will automatically put user and password on the login form and hit login for you to be redirected to the last url you were looking in the adminnistration panel.
  
h3#custom-forms Custom Forms Fields

p You can easily implement, custom fields for your automatic generated forms. In example:

pre
  code.language-javascript
    | // Sample Model
    | // -----------------------------
    | 
    | // Modules Dependencies:
    | //  - Mongoose (http://mongoosejs.com/docs/guide.html)
    | //  
    | var mongoose = require('mongoose'), 
    |     Schema = mongoose.Schema;
    | 
    | var sampleSchema = new Schema({
    |     name          : String, 
    | +    template      : { type: String, ngoform: { control: 'Textarea' } },
    | +    live          : { type: Boolean, default: true, ngoform: { control: 'Toggle' }    },
    |     created       : Date         
    | });
    | 
    | ....

p Will produce, the following:

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/sample-edit-form.png')

p For the 
  mark Toggle 
  | control is as simple as adding a file called 
  mark ./utils/formstemplates/Toggle.hbs
  | with the following:

pre
  code.language-handlebars
    | #{'<div class="control-group { {#if error} }error{ {/if} }">'} 
    | #{'    <label class="control-label">{ {label} }</label>'}
    | #{'     <div class="controls">'}
    | #{'         <toggle-switch { {#if ngmodel} }ng-model="{ {ngmodel} }.{ {name} }"{ {/if} } on-label="true" off-label="false"><toggle-switch>'}
    | #{'     </div>'}
    | #{' </div>'}

p Download the package with bower and register the dependency into 
  mark public/scripts/admin/app.js
  | :

pre
  code.language-bash $ bower install --save angular-toggle-switch

p In our 
 mark app.js 
 | file just add this line:

pre
  code.language-javascript
    | /**
    |  * @ngdoc overview
    |  * @name anyandgoApp
    |  * @description
    |  * # anyandgoApp
    |  *
    |  * Main module of the application.
    |  */
    | angular
    |   .module('anyandgoApp', [
    |     'ngAnimate',
    |     'ngCookies',
    |     'ngResource',
    |     'ngRoute',
    |     'ngSanitize',
    |     'ngTouch',
    | +    'toggle-switch',
    |     'restangular'
    | ])
    | .config(function ($routeProvider, $locationProvider, RestangularProvider) {
    | .....

h3#locale Locale+Translation File generation

pre
  code.language-bash $  grunt create:locale:es-es

p Creates a new file under translation folder called 
 mark ./locales/es-es.json. 
 | Adds translation flag to the menu, modifying 
 mark ./views/partials/site-menu.jade
 |:

pre
  code.language-jade
    |          //public:translation:menu:start
    |          li
    |             a(href='#', langsupport="en-us") en-us
    |           li
    |             a(href='#', langsupport="es-ar") es-ar
    | +            li
    | +              a(href='#', langsupport='es-es') es-es
    |           //public:translation:menu:end

p Also registers new language into app.js:
pre
  code.language-javascript
    | i18n.configure({
    | // setup some locales: other locales default to en silently
    | locales:[
    |     //global:translation:start
    | +      'es-es',
    |     //global:translation:end
    |     'en-us', 
    |     'es-ar'],

p See the result inmediately in your browser:

img(src='https://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/locale-i18n.png')

p How to use translations just open a view file 
  mark views/index.jade:

pre
  code.language-jade
    | extends layout
    | block content
    | .jumbotron
    |  h1=__("pick anyandgo")
    |  p ...
    |  p #{__("Welcome to anyandgo MEAN")}

p Basically, everytime you call to function double underscore what you are passing as parameter is used as key for translation files. Translation files will auto populate it everytime you refresh the page calling the view.

h2#optimization Optimization

h3#minification Assets minification for production

pre
  code.language-bash $ grunt buildprod
p Concatanates, compress, minify and link all javascripts and stylesheets. It creates a 
  mark ./dist 
  | folder inside the public part:

.bs-callout.bs-callout-info
  p $ tree public/dist/
  p public/dist/
  p ├── scripts
  p │   ├── panel-app.min.js
  p │   ├── panel-vendors.min.js
  p │   └── site-vendors.min.js
  p └── styles
  p   ├── panel-styles.min.css
  p   └── site-styles.min.css

p We use: 
  a(href='https://github.com/yeoman/grunt-usemin') grunt-usemin
  a(href='https://github.com/gruntjs/grunt-contrib-clean') grunt-contrib-clean 
  a(href='https://github.com/gruntjs/grunt-contrib-concat') grunt-contrib-concat 
  a(href='https://github.com/gruntjs/grunt-contrib-uglify') grunt-contrib-uglify 
  a(href='https://github.com/gruntjs/grunt-contrib-cssmin') grunt-contrib-cssmin 
  | in order to do that.

p And they get automatically linked just simply by setting a global flag, like in 
  mark ./views/layout-admin.jade
  |:

pre
  code.language-jade
    | - if(settings.envflag !== "production") {
    |     //-<!-- build:css(public) styles/panel-style.min.css -->
    |     //bower:css
    |     link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    |     link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    |     link(rel='stylesheet', href='/components/metisMenu/dist/metisMenu.css')
    |     //-<!-- endbuild -->
    |     //endbower
    |     - } else {
    |     link(rel='stylesheet', href='/dist/styles/panel-styles.min.css')
    |     - }

p The flag setup is in 
  mark ./app.js
  |:

pre 
  p app.set("envflag", process.env.NODE_ENV);

h3#translation Translation Support

p Internationalization support was added. To seee the translations source files you can inspect the 
  mark ./locales 
  | folder:

pre
  code.language-bash $ tree locales/
.bs-callout.bs-callout-info
  p locales/
  p ├── en-us.json
  p └── es-ar.json

p By default it loads 
  mark es-ar 
  | translations, the configuration is inside 
  mark app.js 
  | file:

pre
  code.language-javascript
    | // i18n setup
    | i18n.configure({
    | // setup some locales: other locales default to en silently
    | locales:['en-us', 'es-ar'],
    | // sets a custom cookie name to parse locale settings from  - defaults to NULL
    | cookie: 'lang',
    | // where to store json files - defaults to './locales' relative to modules directory
    | directory: __dirname + '/locales',
    | defaultLocale: 'es-ar'
    | });

p Language preference is stored in a cookie, to test this is working you can try modifying the cookie on client side and reload the page:

pre
  code.language-javascript
    | // Try running this in the js console
    | function setCookie(cname, cvalue, exdays) {
    |     var d = new Date();
    |     d.setTime(d.getTime() + (exdays*24*60*60*1000));
    |     var expires = "expires="+d.toUTCString();
    |     document.cookie = cname + "=" + cvalue + "; " + expires;
    | }
    | 
    | setCookie("lang","en-us", 2);
    | // and refresh the page, notice lang has changed to be en-us

h3#fixtures Fixtures

p Fixtures are fixed datasets that helps us to populate mongo collections. We use fixtures during test, to ensure we have data to operate with. And also anyandgo uses fixtures on server start, to ensure certain collections are filled in before web app is launched. Take a look at app.js:

pre
  code.language-javascript
    | // DB Fixtures
    | if (config.fixtures && config.fixtures === "enabled") {
    |  // Load Fixtures
    | require('./fixtures');
    | }

p For fixture loading we are using 
  a(href='https://github.com/powmedia/mongoose-fixtures') mongoose-fixtures. 
  | We basically load different datasets for each environment. You may want to take a look at 
  mark ./fixtures 
  | folder:

pre
  code.language-bash
    | $ tree fixtures
    | ... 
    | fixtures/
    | ├── dev
    | │   └── admins.js
    | ├── index.js
    | ├── local
    | │   └── admins.js
    | ├── prod
    | │   └── admins.js
    | ├── shared
    | │   └── admins.js
    | └── travisci
    |     └── admins.js
    | 
    | 5 directories, 6 files
  
p Notice that if flag 
  mark fixtures 
  | is 
  mark enabled 
  | in our config: anyandgo will autoload datasets for each collection ( note loading fixtures will clear the existing contents of a collection). In the treeview example shown above, we only are going to override admins collection. We are also adding a shared folder that is shared for all environments.

h3#mails Mails

p Mail support was added, using 
  a(href='https://github.com/andris9/Nodemailer') nodemailer 
  | and 
  a(href='https://github.com/andris9/nodemailer-smtp-transport#smtp-transport-module-for-nodemailer') nodemailer-smtp-transport. 
  | See the configs:

pre
  code.language-javascript
    | "mail" : {
    |         "enabled" : true,
    |         "transport" : "smtp",
    |         "host" : "mail.your-email-host.io",
    |         "port" : 25,
    |         "contact" : "contact@email.io",
    |         "auth" : {
    |             "user" : "user-email-here",
    |             "pass" : "secret-pass-here"
    |         }
    |     },

h3#captcha Captcha Support

p Using the 
  a(href='http://www.google.com/recaptcha/intro/index.html') Google reCAPTCHA Service 
  | and 
  a(href='https://github.com/mirhampt/node-recaptcha#node-recaptcha') node-recaptcha 
  | package. You can enable this feature just by changing the config settings.

pre
  code.language-javascript
   | "captcha" : {
   |     "enabled" : true,
   |     "publickey" : "insert-key-here",
   |     "privatekey" : "insert-key-here"
   | },

img(src='http://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/form-contact.png')

h3#server-logs Server Logs

p By enabling config you can save the server log in a custom file, this is very useful for production environments. Just change your config file config/config-local.json to included the following:

pre
  code.language-javascript
   | {
   |  "app": {
   |      "domain" : "127.0.0.1",
   | +        "port": 3000,
   | +        "logs": {
   | +            "enabled": true,
   | +            "file": "access.log",
   | +            "format": "dev"
   | +         }
   |     },
   | "auth": {

table.table
  th Parameter
  th Description
  tbody
    tr
      td app.logs.enabled
      td Enables / disables logs
    tr
      td app.logs.file	
      td Path to log file (access.log by default)
    tr
      td app.logs.format	
      td 
        a(href='https://github.com/expressjs/morgan#predefined-formats') Morgan Predefined Formats

p Create the log file manually:
pre
  code.language-bash $ touch access.log

p Start the server, and then monitor the logs files by doing:
pre
  code.language-bash $ tail -f access.log

h3#security Security

  ul.list-unstyled
    li 
      a(href='https://github.com/helmetjs/helmet') Helmet
    li 
      a(href='https://github.com/expressjs/csurf') CSRF

h3#cors CORS Support

p See 
  a(href='http://www.w3.org/TR/cors/') CORS

h3#seo SEO Support

p Added support for metadata, see 
  mark ./views/layout.jade
  |:

pre
  code.language-jade
    |   block meta
    |       // for Google
    |       meta(name='description', content='')
    |       meta(name='keywords', content='')
    |       meta(name='author', content='')
    |       meta(name='copyright', content='')
    |       meta(name='application-name', content='')
    |       // for Facebook
    |       meta(property='og:title', content='')
    |       meta(property='og:type', content='article')
    |       meta(property='og:image', content='')
    |       meta(property='og:url', content='')
    |       meta(property='og:description', content='')
    |       // for Twitter
    |       meta(name='twitter:card', content='summary')
    |       meta(name='twitter:title', content='')
    |       meta(name='twitter:description', content='')
    |       meta(name='twitter:image', content='')

p Added Google Analytics tracking configuration. See the config file:

pre
  code.language-javascript
    |  "analytics": {
    |      "enabled" : true,
    |      "tracking": "UA-XXXXX-X"
    |  },

h2#express Express 4.x

p Facts about this implementation:

ul
  li Started from basic generation
  li Jade template engine

p Modules added:
ul 
  li 
    a(href='http://learnboost.github.io/stylus/') Stylus
  li 
    a(href='https://github.com/mashpie/i18n-node') i18n
  li 
    a(href='http://mongoosejs.com/') Mongoose
  li 
    a(href='https://github.com/florianholzapfel/express-restify-mongoose') Express-Restify-Mongoose

p Front end assets:
ul
  li 
    a(href='http://angular-ui.github.io/bootstrap/') Bootstrap
  li 
    a(href='http://angular-ui.github.io/bootstrap/') UI Bootstrap

h2#credits Credits

a.github-button(href='https://github.com/cortezcristian', data-style='mega', data-count-href='/cortezcristian/followers', data-count-api='/users/cortezcristian#followers', data-count-aria-label='# followers on GitHub', aria-label='Follow @cortezcristian on GitHub') Follow @cortezcristian
.text-right
  a.btn.btn-default(href='https://twitter.com/cortezcristian')
    i.fa.fa-twitter(style='padding-right:10px') 
    | @cortezcristian

